{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <script>

        $(document).ready(function () {
            var wkt = '';

            var map_height = window.innerHeight;
            var header_height = $('#navbar_lv_header').height();

            $('#map').css({height: map_height - header_height});

            var map = L.map('map').setView([51.53181, -3.24687], 10);

            L.tileLayer('http://i7.cscloud.cf.ac.uk/osmcarto/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 15,
                id: 'your.mapbox.project.id',
                accessToken: 'your.mapbox.public.access.token'
            }).addTo(map);

            function onMapClick(e) {
                var popup = L.marker()
                        .setLatLng(e.latlng)
                        .setContent(e.latlng)
                        .openOn(map);
            }

            map.on('click', onMapClick);

            var featureGroup = L.featureGroup().addTo(map);

            var drawControl = new L.Control.Draw({
                edit: {
                    featureGroup: featureGroup
                },
                draw: {
                    polygon: true,
                    polyline: false,
                    rectangle: {
                        shapeOptions : {
                            color : '#888888'
                        }
                    },
                    circle: false,
                    marker: false
                }
            }).addTo(map);

            map.on('draw:created', showPolygonArea);
            map.on('draw:edited', showPolygonAreaEdited);

            function convertPolygonToOS(shape_geojson){

                var new_coordinates = [];
                var new_geometry = {
                    "type": "Polygon",
                    "coordinates": [[]]
                };

                for (var a = 0; a < shape_geojson['geometry']['coordinates'][0].length; a++) {
                    var ll2 = new LatLng(shape_geojson['geometry']['coordinates'][0][a][1],
                            shape_geojson['geometry']['coordinates'][0][a][0]);
                    var os2 = ll2.toOSRef();
                    {#                    var coords = os2.toString().replace('(', '').replace(')', '').split(',');#}
                    new_coordinates.push([os2.easting, os2.northing]);
                }

                new_geometry['coordinates'] = [new_coordinates];

                return new_geometry

            }
            function showPolygonAreaEdited(e) {
                e.layers.eachLayer(function(layer) {
                    showPolygonArea({ layer: layer });
                });
            }

            function showPolygonArea(e) {
                featureGroup.clearLayers();
                featureGroup.addLayer(e.layer);
                e.layer.bindPopup((LGeo.area(e.layer) / 1000000).toFixed(2) + ' km<sup>2</sup>');
                e.layer.openPopup();

                var shape_geojson = e.layer.toGeoJSON();
                var new_geojson = convertPolygonToOS(shape_geojson);
                wkt = $.geo.WKT.stringify(new_geojson);

                show_res_dialog();

            }

            var res_table = $('#res_table').DataTable({
                serverSide: false,
                processing: true,
                ajax: {
                    url: '/spatial_search',
                    type: 'POST',
                    data: function ( d ) {
                        d.geography = wkt;
                        d.start = 0;
                        d.limit = 15;
                        d.type = "Qual";
                        d.test = "yes";
                    }

                },
                columns: [
                    { data: "survey_short_title" },
                    { data: "date" },
                    { data: "survey_id" },
                    { data: "area" },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<div class='btn btn-info show_questions'>Q's</div>"
                    }
                ]
            });


            function attach_question_buttons() {
                $('#res_table').find('tbody').on('click', '.show_questions', function () {
                    var data = res_table.row($(this).parents('tr')).data();
                    var questions = '<to be added here>';
                    {#                    alert(data['survey_id'] + " questions are " + questions);#}
                    show_survey_dialog(data['survey_id']);
                });
            }
            attach_question_buttons();

            var spatial_dialog = $( "#spatial_results_dialog_form" ).dialog({
                modal: false,
                autoOpen: false,
                height: window.innerHeight * 0.8,
                width: window.innerWidth * 0.8,
                buttons: {
                    Close: function() {
                        spatial_dialog.dialog( "close" );
                    }
                },
                close: function() {}
            }).dialogExtend(
                    {
                        "closable" : true,
                        "maximizable" : true,
                        "minimizable" : true,
                        "minimizeLocation" : 'left',
                        "collapsable" : true,
                        "dblclick" : 'minimize',
                        "titlebar" : false
                    }
            );

            function show_res_dialog() {
                spatial_dialog.dialog("open");
                res_table.clear().draw();
                res_table.ajax.reload();
            }


            $('#survey_tabs').tabs();
            var survey_dialog = $("#survey_dialog_form" ).dialog({
                modal: false,
                autoOpen: false,
                height: window.innerHeight * 0.8,
                width: window.innerWidth * 0.8,
                {#                modal: true,#}
                buttons: {
                    Close: function() {
                        survey_dialog.dialog( "close" );
                    }
                },
                close: function() {}
            }).bind("dialogextendload", function(evt) {
{#                prep_survey_dialog('1234567');#}

            }).dialogExtend(
                    {
                        "closable" : true,
                        "maximizable" : true,
                        "minimizable" : true,
                        "minimizeLocation" : 'left',
                        "collapsable" : true,
                        "dblclick" : 'minimize',
                        "titlebar" : false
                    }
            );

            function prep_survey_dialog(survey_id) {

                var dc_table = $('#dublin_core_table').DataTable({
                    serverSide: false,
                    processing: true,
                    ajax: {
                        url: '/get_metadata',
                        type: 'POST',
                        data: function (d) {
                            d.survey_id = '';
                            d.test = "yes";
                        }
                    },
                    columns: [
                        {data: "a"},
                        {data: "b"},
                        {data: "c"},
                        {data: "d"}
                    ]
                });

                var survey_table = $('#survey_table').DataTable({
                    serverSide: false,
                    processing: true,
                    ajax: {
                        url: '/get_metadata',
                        type: 'POST',
                        data: function (d) {
                            d.survey_id = '';
                            d.test = "yes";
                        }
                    },
                    columns: [
                        {data: "a"},
                        {data: "b"},
                        {data: "c"},
                        {data: "d"}
                    ]
                });

                var question_table = $('#question_table').DataTable({
                    serverSide: false,
                    processing: true,
                    ajax: {
                        url: '/get_metadata',
                        type: 'POST',
                        data: function (d) {
                            d.survey_id = '';
                            d.test = "yes";
                        }
                    },
                    columns: [
                        {data: "a"},
                        {data: "b"},
                        {data: "c"},
                        {data: "d"}
                    ]
                });

                var question_results_data_table = $('#question_results_data_table').DataTable({
                    serverSide: false,
                    processing: true,
                    ajax: {
                        url: '/get_metadata',
                        type: 'POST',
                        data: function (d) {
                            d.survey_id = '';
                            d.test = "yes";
                        }
                    },
                    columns: [
                        {data: "a"},
                        {data: "b"},
                        {data: "c"},
                        {data: "d"}
                    ]
                });

                {##}
                {#                dc_table.ajax.reload();#}
                survey_table.ajax.reload();
                {#                question_table.ajax.reload();#}
                {#                question_results_data_table.ajax.reload();#}
            }


                        function show_survey_dialog(){
                survey_dialog.dialog("open");

            }
        });



    </script>


    <div id="map" style="height: 180px;"></div>


    <div id="spatial_results_dialog_form" title="Surveys available for this area">
        <form>
            <fieldset>
                <table id="res_table" class="display" style="height: 100px;">
                    <thead>
                    <tr>
                        <th>Survey Title</th>
                        <th>Date</th>
                        <th>Survey ID</th>
                        <th>Area</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Survey Title</th>
                        <th>Date</th>
                        <th>Survey ID</th>
                        <th>Area</th>
                        <th>Options</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div id="survey_dialog_form" title="Surveys Description">
        <div id="survey_tabs">
            <ul>
                <li>
                    <a href="#survey_tabs-1">Tab 1</a>
                </li>
                <li>
                    <a href="#survey_tabs-2">Tab 2</a>
                </li>
                <li>
                    <a href="#survey_tabs-3">Tab 3</a>
                </li>
                <li>
                    <a href="#survey_tabs-4">Tab 4</a>
                </li>
            </ul>

            <div id="survey_tabs-1">
                <form>
                    <fieldset>
                        <table id="survey_table" class="display" style="height: 100px;">
                            <thead>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>

                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>

            </div>
            <div id="survey_tabs-2">
                <form>
                    <fieldset>
                        <table id="dublin_core_table" class="display" style="height: 100px;">
                            <thead>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>

                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>
            </div>
            <div id="survey_tabs-3">
                <form>
                    <fieldset>
                        <table id="question_table" class="display" style="height: 100px;">
                            <thead>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>

                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>
            </div>
            <div id="survey_tabs-4">
                <form>
                    <fieldset>
                        <table id="question_results_data_table" class="display" style="height: 100px;">
                            <thead>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Survey Title</th>
                                <th>Date</th>
                                <th>Survey ID</th>
                                <th>Area</th>
                                <th>Options</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>

                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

