<div id="survey_dialog_form" title="Surveys Description">
    <div id="survey_tabs">
        <ul>
            <li>
                <a href="#survey_tabs-1">Tab 1</a>
            </li>
            <li>
                <a href="#survey_tabs-2">Tab 2</a>
            </li>
            <li>
                <a href="#survey_tabs-3">Tab 3</a>
            </li>
            <li>
                <a href="#survey_tabs-4">Tab 4</a>
            </li>
        </ul>

        <div id="survey_tabs-1">
            <form>
                <fieldset>
                    <table id="survey_table" class="display" style="height: 100px;">
                        <thead>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>

                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    {#                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">#}
                </fieldset>
            </form>

        </div>
        <div id="survey_tabs-2">
            <form>
                <fieldset>
                    <table id="dublin_core_table" class="display" style="height: 100px;">
                        <thead>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>

                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    {#                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">#}
                </fieldset>
            </form>
        </div>
        <div id="survey_tabs-3">
            <form>
                <fieldset>
                    <table id="question_table" class="display" style="height: 100px;">
                        <thead>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>

                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    {#                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">#}
                </fieldset>
            </form>
        </div>
        <div id="survey_tabs-4">
            <form>
                <fieldset>
                    <table id="question_results_data_table" class="display" style="height: 100px;">
                        <thead>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Survey Title</th>
                            <th>Date</th>
                            <th>Survey ID</th>
                            <th>Area</th>
                            <th>Options</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>

                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    {#                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">#}
                </fieldset>
            </form>
        </div>
    </div>
</div>